@import './common/mixin.scss';
@import './common/transition.scss';
@import './common/sidebar.scss';
@import './common/navbar.scss';

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans SC Regular'), local('NotoSansSC-Regular'), url("../fonts/font/SourceHanSansCN-Regular.otf") format("opentype");;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans SC Medium'), local('NotoSansSC-Medium'), url("../fonts/font/SourceHanSansCN-Medium.otf") format("opentype");;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans SC Bold'), local('NotoSansSC-Bold'), url("../fonts/font/SourceHanSansCN-Bold.otf") format("opentype");;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  // font-family:Arial,'微软雅黑',Microsoft YaHei;
  font-family: 'Noto Sans SC' !important;
}

label {
  font-weight: 500;
}

html {
  height: 100%;
  box-sizing: border-box;
  background: #e8ecf0;
  overflow-x: hidden;
}

ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}



/*
   模块公用的头部
*/
.boxWarp{
  display: flex;
}
.boxRightWarp {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
	.titleBox {
		.topTitle {
			display: flex;
			justify-content: space-between;
			font-size: $font18px;
		}
		.echarts {
			overflow: hidden;
			div {
				width: 50%;
				float: left;
			}
		}
	}
}
.numberpapers .box:nth-child(1){
	border-radius: 5px 0 0 5px;
}
.numberpapers .box:nth-child(6){
	border-radius: 0 5px 5px 0;
}
.titleBox {
  @include background-color('tab-nav-bg');
}
/* 每行一个模块 */
.row_box {
  margin-top: $margin8px;
}
/* 每行两一个模块 */
.row_flex_box {
  display: flex;
  margin-top: $margin8px;
  .left_flex_box {
    flex: 1;
    background: $pureWhite;
    border-radius: $radious6px;
  }
  .right_flex_box {
    flex: 1;
    margin-left: $margin8px;
    background: $pureWhite;
    border-radius: $radious6px;
  }
}

.buttongruop {
  height: 52px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: $margin8px;
  background: $pureWhite;
  border-radius: $radious4px;
  @include background-color('tab-nav-bg');
  @include color('tab-item-color');
}

.button_group {
  height: 52px;
  //margin-top: $margin8px;
  border-radius: $radious4px;
  margin: $margin8px $margin8px 0;
  @include background-color('tab-nav-bg');
  @include color('tab-item-color');
}

.buttongroup_time {
  @include background-color('tab-nav-bg');
  @include color('tab-item-color');
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-content: center;
  .group-left{
    display: flex;
    align-content: center;
    flex: 1;
  }
  .group-right{
    display: flex;
    align-items: center;
    padding-right: 16px;
  }
}

.row_box_top10{
  .row_box_top10_table{
    display: flex;
    .tables{
      flex: 1;
    }
  }
}

.el-icon-download{
  cursor: pointer;
}

.hot_document_table {
  display: flex;
}

.row_box_top10{
  .row_box_top10_table{
    display: flex;
    .tables{
      flex: 1;
    }
  }
}
//.main-container {height: calc(100% - 65px) }
.main-container>div{height:100%}

// 滚动条样式修改
::-webkit-scrollbar{
  width:8px;
  height:10px;
}
::-webkit-scrollbar-track{
  //background: #fff;
  background: transparent;
  border-radius:8px;
}
::-webkit-scrollbar-thumb{
  //background: #f4f4f4;
  background: rgba(144,147,153,.3);
  border-radius:8px;
}
::-webkit-scrollbar-thumb:hover{
  background: #c7c9cc;
}
::-webkit-scrollbar-corner{
  background: green;
}

// 弹框
/deep/ .el-dialog .el-dialog__body{
  padding: 24px !important;
}
.button{
  text-align: right;
}
