/* 边距 padding margin----------------------------------- */
$margin8px:8px;
$margin16px:16px;
$margin22px:22px;
$margin23px:23px;
$padding8px:8px;
$margin20px:20px;
$margin24px:24px;

/* 宽高----------------------------------- */
$height40px:40px;
$inputWidth:16px;
$width24px:24px;

/*圆角边框 --------------------------------*/
$radious4px:4px;
$radious6px:6px;

/* 按钮高度边距----------------------------------- */
$height32px:32px;
$margin35px:35px;
