/* 字号----------------------------------- */
$font12px:12px;
$font13px:13px;
$font14px:14px;
$font15px:15px;
$font16px:16px;
$font17px:17px;
$font18px:18px;
$font19px:19px;
$font20px:20px;
$font22px:22px;
$font24px:24px;
$font26px:26px;
$font28px:28px;
$font30px:30px;
$font32px:32px;
$font36px:36px;
$font48px:48px;
$input_heidth:40px;
$table_row_height: 60px
